# Laravel specific files
/vendor
/node_modules

# Composer
composer.phar
composer.lock

# Environment
.env
.env.*
!/.env.example

# Directories
/storage/*
!storage/.gitignore
!storage/framework
!storage/framework/cache
/storage/framework/cache/*
!storage/framework/cache/.gitignore
!storage/framework/sessions
/storage/framework/sessions/*
!storage/framework/sessions/.gitignore
!storage/framework/views
/storage/framework/views/*
!storage/framework/views/.gitignore
!storage/logs
/storage/logs/*
!storage/logs/.gitignore

# Logs
logs/*
!logs/.gitignore

# Cache
/bootstrap/cache/*
!bootstrap/cache/.gitignore

# Database
database/database.sqlite
/database/*.sqlite
/database/*.sql

# Public files
/public/.well-known
/public/robots.txt
/public/build
/public/storage
/public/hot
/public/tempcopy
/public/image/*
!/public/image/

# Build files
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
*.DS_Store
Thumbs.db

# IDE files
*.idea
*.fleet
.vscode/
.vsls.json

# Docker and Vagrant
docker-compose.override.yml
Homestead.json
Homestead.yaml
/.vagrant

# Test results
.phpunit.result.cache

# Others
*.lock
APP-META.INI
*.phar
auth.json
*.key
*.log


